server:
  # Port 0 to assign random server port  
  port: ${PORT:8082}
eureka:
  instance:
    # enable to register multiple app instances with a random server port
    instance-id: ${spring.application.name}:${random.uuid}

---

#msg: Hello and Welcome to the application. You can create a new Slide by making a POST request to /api/slides endpoint. - System Generated
 
eureka:  
  client:
    serviceUrl:
      defaultZone: ${DISCOVERY_URL:http://localhost:8761}/eureka/
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
     
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/microservices?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false
    # url: jdbc:mysql://docker-mysql:3306/microservices?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false
    username: root
    password: root
#    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  application:
    name: slide-service
# Zipkin info
  zipkin:
    base-url: http://172.28.42.132:9411/
  sleuth:
    sampler:
      probability: 1
      
security:
  oauth2:
    resource:
      token-info-uri: http://172.28.43.142:9191/oauth/check_token
    client:
      client-id: mobile
      client-secret: secret
management:
  endpoints:
    web:
      exposure:
        include: "*"
        
feign:
  hystrix:
    enabled: true
hystrix:
  shareSecurityContext: true
