server:
  port: ${PORT:8761}


eureka:
  instance:
    prefer-ip-address: true
    hostname: 127.0.1.1
    statusPageUrl: http://${eureka.instance.hostname}/info
    healthCheckUrl: http://${eureka.instance.hostname}/health
  # standalone mode
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  server:
    enableSelfPreservation: true
    waitTimeInMsWhenSyncEmpty: 0
  