server:
  port: 8080
logging:
  level:
    root: info  
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    healthcheck:
      enabled: true
spring:
  application:
    name: authorization-server
  datasource:
    url: jdbc:mysql://localhost:3306/demo
    username: root
    password: 
  jpa:
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        show_sql: false
        format_sql: true
  jackson:
    serialization:
      INDENT_OUTPUT: true        